<div class="container">
   <div class="row">
      <img style="width:400px"src="https://qph.ec.quoracdn.net/main-qimg-87001d2ce810c2f48c97032cbc905939"/>
   </div>
   <div class="row">
      <div class="one-third column">
         <p for="firstName">first name:</p>
         <p for="lastName">last name:</p>
         <p for="username">username:</p>
         <p for="email">email:</p>
         <p for="achievements">achievements:</p>
      </div>
      <div class="two-thirds column">
         <p for="firstName">{{firstName}}</p>
         <p for="lastName">{{lastName}}</p>
         <p for="username">{{username}}</p>
         <p for="email">{{email}}</p>
         <p for="achievements">{{achievements}}</p>
      </div>
   </div>
   <div class="row" style="text-align:center;">
      <div class="image one-third column">
         <p class="awardText" id="newbieText">
            <img src="../../images/newbie.png" class="award" id="newbie"/>
            <br/>Newbie
         </p>
      </div>
      <div class="image one-third column">
         <p class="awardText" id="saveGraphText">
            <img src="../../images/save_graph.png" class="award" id="save_graph"/>
            </br>Saved a Graph
         </p>
      </div>
      <div class="image one-third column">
         <p class="awardText" id="oneGraphSaved">
            <img src="../../images/1_graph.png" class="award" id="1_graph"/>
            </br>One Graph Saved
         </p>
      </div>
   </div>
   <div class="row" style="text-align:center;">
      <div class="image one-third column">
         <p class="awardText" id="tenGraphsSaved">
            <img src="../../images/10_graphs.png" class="award" id="10_graphs"/>
            </br>Ten Graphs Saved
         </p>
      </div>
      <div class="image one-third column">
         <p class="awardText" id="twentyFiveGraphsSaved">
            <img src="../../images/25_graphs.png" class="award" id="25_graphs"/>
            </br>25 Graphs Saved
         </p>
      </div>
      <div class="image one-third column">
         <p class="awardText" id="runAlgorithm">
            <img src="../../images/run_algorithm.png" class="award" id="run_algorithm"/>
            </br>Ran One Algorithm
         </p>
      </div>
   </div>
   <div class="row" style="text-align:center;">
      <div class="image one-third column">
         <p class="awardText" id="updateAccount">
            <img src="../../images/update_account.png" class="award" id="update_account"/>
            </br>Updated Account
         </p>
      </div>
      <div class="image one-third column">
         <p class="awardText" id="oneQuizCorrect">
            <img src="../../images/one_quiz_correct.png" class="award" id="one_quiz_correct"/>
            </br>One Correct Quiz Answer
         </p>
      </div>
      <div class="image one-third column">
         <p class="awardText" id="loadGraph">
            <img src="../../images/load_graph.png" class="award" id="load_graph"/>
            </br>Loaded a Graph
         </p>
      </div>
   </div>
   <div class="row" style="text-align:center;">
      <div class="image one-third column">
         <p class="awardText" id="fiveGraphsSaved">
            <img src="../../images/5_graphs.png" class="award" id="5_graphs"/>
            </br>Five Graphs Saved
         </p>
      </div>
      <div class="image one-third column">
         <p class="awardText" id="runNFADFA">
            <img src="../../images/run_nfadfa.png" class="award" id="run_nfadfa"/>
            </br>Ran One Automata Conversion
         </p>
      </div>
   </div>
</div>
