<div class="container">
   <div class="row">
      <img style="width:400px"src="https://static4.businessinsider.com/image/56c640526e97c625048b822a-480/donald-trump.jpg"/>
   </div>
   <div class="row">
      <div class="one-third column">
         <p for="firstName">first name:</p>
         <p for="lastName">last name:</p>
         <p for="username">username:</p>
         <p for="email">email:</p>
         <p for="achievements">achievements:</p>
      </div>
      <div class="two-thirds column">
         <p for="firstName">{{firstName}}</p>
         <p for="lastName">{{lastName}}</p>
         <p for="username">{{username}}</p>
         <p for="email">{{email}}</p>
         <p for="achievements">{{achievements}}</p>
         <div class="container">
            <div class="row" style="text-align:center;">
               <div class="image one-third column">
                  <img src="../../images/star.svg" class="award" id=""/>
                  <p class="awardText">defeated Clinton</p>
               </div>
               <div class="image one-third column">
                  <img src="../../images/star.svg" class="award" id=""/>
                  <p class="awardText">fired Comey</p>
               </div>
               <div class="image one-third column">
                  <img src="../../images/star.svg" class="award" id=""/>
                  <p class="awardText">covfefe</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
