<div class="container">
   <div class="row">
      <img style="width:400px"src="https://static4.businessinsider.com/image/56c640526e97c625048b822a-480/donald-trump.jpg">
   </div>
   <div class="row">
      <div class="one-third column">
         <p for="username">first name:</p>
         <p for="username">last name:</p>
         <p for="username">user name:</p>
         <p for="username">email:</p>
         <p for="username">achievements:</p>
      </div>
      <div class="two-thirds column">
         <p for="username">{{firstName}}</p>
         <p for="username">{{lastName}}</p>
         <p for="username">{{username}}</p>
         <p for="username">{{email}}</p>
         <p for="username">{{achievements}}</p>
      </div>
   </div>
</div>
