<div class="container">
   <div class="row">
      <img style="width:400px"src="https://static4.businessinsider.com/image/56c640526e97c625048b822a-480/donald-trump.jpg"/>
   </div>
   <div class="row">
      <div class="one-third column">
         <p for="firstName">first name:</p>
         <p for="lastName">last name:</p>
         <p for="username">username:</p>
         <p for="email">email:</p>
         <p for="achievements">achievements:</p>
      </div>
      <div class="two-thirds column">
         <p for="firstName">{{firstName}}</p>
         <p for="lastName">{{lastName}}</p>
         <p for="username">{{username}}</p>
         <p for="email">{{email}}</p>
         <p for="achievements">{{achievements}}</p>
         <div class="container">
            <div class="row" style="text-align:center;">
               <div class="image one-fourth column">
                  <img src="../../images/newbie.png" class="award" id="newbie"/>
                  <p class="awardText" id="newbieText">Newbie</p>
               </div>
               <div class="image one-fourth column">
                  <img src="../../images/save_graph.png" class="award" id="save_graph"/>
                  <p class="awardText" id="saveGraphText">Saved a Graph</p>
               </div>
               <div class="image one-fourth column">
                  <img src="../../images/1_graph.png" class="award" id="1_graph"/>
                  <p class="awardText" id="oneGraphSaved">One Graph Saved</p>
               </div>
               <div class="image one-fourth column">
                  <img src="../../images/5_graphs.png" class="award" id="5_graphs"/>
                  <p class="awardText" id="fiveGraphsSaved">Five Graphs Saved</p>
               </div>
            </div>
            <div class="row" style="text-align:center;">
               <div class="image one-fourth column">
                  <img src="../../images/10_graphs.png" class="award" id="10_graphs"/>
                  <p class="awardText" id="tenGraphsSaved">Ten Graphs Saved</p>
               </div>
               <div class="image one-fourth column">
                  <img src="../../images/25_graphs.png" class="award" id="25_graphs"/>
                  <p class="awardText" id="twentyFiveGraphsSaved">25 Graphs Saved</p>
               </div>
               <div class="image one-fourth column">
                  <img src="../../images/run_algorithm.png" class="award" id="run_algorithm"/>
                  <p class="awardText" id="runAlgorithm">Ran One Algorithm</p>
               </div>
               <div class="image one-fourth column">
                  <img src="../../images/run_nfadfa.png" class="award" id="run_nfadfa"/>
                  <p class="awardText" id="runNFADFA">Ran One Automata Conversion</p>
               </div>
            </div>
            <div class="row" style="text-align:center;">
               <div class="image one-fourth column">
                  <img src="../../images/update_account.png" class="award" id="update_account"/>
                  <p class="awardText" id="updateAccount">Updated Account</p>
               </div>
               <div class="image one-fourth column">
                  <img src="../../images/one_quiz_correct.png" class="award" id="one_quiz_correct"/>
                  <p class="awardText" id="oneQuizCorrect">One Correct Quiz Answer</p>
               </div>
               <div class="image one-fourth column">
                  <img src="../../images/load_graph.png" class="award" id="load_graph"/>
                  <p class="awardText" id="loadGraph">Loaded a Graph</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
